/* GLOBAL - GENERAL */
html,
body,
.skeleton {
  background-color: #3c3835 !important; }

body {
  padding: 30px;
  margin: 5px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 13px; }

.skeleton {
  width: 1140px;
  height: 100%; }

a,
.brownLink,
#detailMenu li {
  color: #BAADA8; }

h3, h4,
a:hover,
.brownLink:hover,
#detailMenu li:hover,
#detailMenu li.selected {
  color: white; }

/* GLOBAL - BUTTONS */
button {
  display: inline-block;
  clear: both;
  float: none;
  cursor: pointer;
  padding: .5em 1em;
  margin: 1em 0 .5em;
  border: none;
  background-color: rgba(186, 173, 168, 0.8);
  color: #6A5B55;
  font-size: 1.1em;
  text-transform: uppercase; }
  button:hover {
    background-color: #dcd5d3; }
  button.search {
    display: inline-block;
    padding: .5em 1em;
    margin: 1em 0 .5em;
    border: 1px solid #81BCEB;
    background-color: transparent;
    color: #81BCEB; }
    button.search:hover {
      background-color: #81BCEB;
      color: #404044; }
  .editReservation button.search {
    border: 1px solid #BAADA8;
    background-color: transparent;
    color: #BAADA8; }
    .editReservation button.search:hover {
      background-color: #BAADA8;
      color: #6A5B55; }

button#submitCC {
  margin: 1em auto; }
  div.roomDescription button#submitCC {
    display: inline-block;
    margin: 0 0 0 15px; }

button.inline {
  width: auto;
  padding: .4em 1em;
  margin: 0 0 0 30px;
  font-size: .9em;
  text-align: right; }
  #itinerary button.inline {
    border: 1px solid #BAADA8;
    background-color: transparent;
    color: #BAADA8;
    margin-left: 25px; }
    #itinerary button.inline:hover {
      background-color: #BAADA8;
      color: #6A5B55; }

button.reservationButton {
  width: 100px;
  margin: .5em 1em 0 0;
  font-size: 1em; }
  .cancel-form button.reservationButton {
    width: auto;
    border: 1px solid #BAADA8;
    background-color: transparent;
    color: #BAADA8; }
  .cancel-form button.reservationButton:hover {
    background-color: #BAADA8;
    color: #6A5B55; }

/* GLOBAL - HEADER / LOGO */
div.bh_header {
  height: 150px;
  margin: 0;
  background: #3c3835 url("https://www.fessparkerinn.com/assets/images/wccLogoWhite.png") center center no-repeat !important; }
  div.bh_header img {
    display: none; }

/* GLOBAL - BREADCRUMBS */
div.breadcrumbs {
  padding: 15px 0 0;
  margin: 0;
  background-color: #3c3835; }
  div.breadcrumbs ul {
    padding: 0;
    margin: 0; }

li.breadcrumb {
  padding: 1em 0 .5em !important;
  color: #BAADA8 !important; }
  li.breadcrumb.selected {
    border-bottom: 2px solid #81BCEB !important;
    color: white !important; }
    li.breadcrumb.selected.clickable {
      font-weight: bold !important; }
      li.breadcrumb.selected.clickable:hover {
        color: white !important; }
  li.breadcrumb.clickable {
    border-bottom: none !important;
    color: #BAADA8 !important;
    font-weight: bold !important; }
    li.breadcrumb.clickable:hover {
      color: white !important; }
  li.breadcrumb span {
    font-size: 1.2em !important;
    letter-spacing: 1px !important;
    text-transform: uppercase !important; }

.bcdescription {
  display: block;
  padding: 1.5em 15px 1em;
  background-color: #3c3835;
  color: #BAADA8;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.8em;
  font-weight: 200;
  letter-spacing: 1px;
  text-align: left; }

/* GLOBAL - LEFT BOXES */
div.leftBoxes {
  width: 260px !important;
  padding: 15px !important;
  margin: 0 !important;
  background-color: #404044 !important;
  color: #BAADA8 !important; }

.skeleton > p.leftBoxLabel {
  border-bottom: none;
  width: 700px;
  float: left;
  margin-left: 30px;
  padding: 30px;
  color: white;
  font-size: 1.4em;
  font-weight: normal;
  letter-spacing: .07em;
  line-height: 1.4;
  border: 1px solid #81BCEB; }

#detailDialog ~ .skeleton > p.leftBoxLabel,
.ui-dialog[aria-describedby='detailDialog'] ~ .skeleton > p.leftBoxLabel {
  display: none; }

.leftBox p.leftBoxLabel {
  padding: 1em 0 .5em;
  border-bottom: 1px solid #81BCEB;
  color: #E6E6E6;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em; }

div.leftBox label {
  display: inline-block !important;
  clear: both !important;
  float: none !important;
  width: 65px !important;
  margin: .5em .5em .5em 0 !important;
  vertical-align: middle !important;
  font-size: .9em !important;
  text-align: left !important; }

div.leftBox.propertyInfo p {
  font-size: 1em; }

div.leftBox.propertyInfo #hotelName {
  color: #E6E6E6;
  text-transform: uppercase;
  letter-spacing: 1px; }

div.leftBox input, div.leftBox select {
  display: inline-block !important;
  width: 120px !important;
  padding: .25em .5em !important;
  margin: .5em .2em .5em 0 !important;
  vertical-align: middle !important;
  border: 1px solid #BAADA8;
  background-color: rgba(134, 125, 121, 0.5) !important;
  color: #E6E6E6 !important;
  font-size: 1em !important; }

div.leftBox fieldset input {
  float: none !important; }

div.leftBox div.smallInput {
  width: 52% !important; }
  div.leftBox div.smallInput:first-of-type {
    width: 48% !important; }
  div.leftBox div.smallInput label {
    margin: .25em .5em .25em 0 !important; }
  div.leftBox div.smallInput input {
    width: 30px !important; }
  div.leftBox div.smallInput select {
    width: 40px !important;
    margin-left: 5px !important; }
  div.leftBox div.smallInput input.error {
    border: 2px solid #81BCEB; }
  div.leftBox div.smallInput label.error {
    width: auto !important;
    color: #81BCEB;
    font-weight: bold;
    text-transform: uppercase; }

.ui-datepicker-trigger {
  margin: 0 0 -.5em; }

.ui-datepicker th {
  color: #BAADA8; }

#showMoreOptions {
  display: block;
  clear: both;
  float: none;
  padding: 1em 0 0;
  text-transform: uppercase;
  letter-spacing: 1px; }
  #showMoreOptions:hover {
    text-decoration: underline; }

/* GLOBAL - LEFT BOX - EDIT RESERVATION */
.leftBox.editReservation fieldset.basic label {
  width: 85px !important;
  font-size: 1em !important; }

/* RESULTS & _REVIEW PAGE - LEFT BOX - ITINERARY */
span.costLabel {
  width: 90px; }

span.value,
div > span.label + span.value + span.label,
span.total {
  margin: .2em .5em;
  color: #E6E6E6;
  font-weight: bold; }

#itinerary > .basic > div > span.label + span.value + span.label {
  margin: .2em 1.5em .2em 0; }

/* _REVIEW PAGE - LEFT BOX - COST SUMMARY */
span.total::before,
span.subtotal::before {
  content: '$'; }

div.policies span.total::before {
  content: ''; }

/* SEARCH PAGE - HOTEL DESCRIPTION  */
.hotelDescriptions {
  float: right;
  width: 820px;
  padding: 0 15px;
  background-color: #3c3835; }
  .hotelDescriptions #images {
    width: 552px;
    float: left; }
    .hotelDescriptions #images img {
      margin: 5px; }

#hotelImage1Url {
  width: 540px;
  height: 320px; }

#hotelImage2Url,
#hotelImage3Url {
  width: 264px;
  height: 180px; }

#hotelDescription {
  width: 492px;
  padding: 15px 30px;
  margin: 0;
  color: #BAADA8;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.4em;
  font-weight: 200;
  letter-spacing: .1em; }
  #hotelDescription .hotelTitle {
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: white; }
  #hotelDescription .hotelSubtitle {
    font-size: 1.4em;
    font-style: italic; }
  #hotelDescription .hotelFinePrint {
    font-size: 1em;
    font-style: italic; }
    #hotelDescription .hotelFinePrint strong {
      color: #81BCEB;
      letter-spacing: normal; }

#hotelAmenities {
  float: right;
  width: 208px;
  padding: 15px 30px;
  margin-top: -550px;
  color: #BAADA8;
  font-size: 16px;
  line-height: 1.2em; }
  #hotelAmenities p {
    padding: 0 0 .5em 0;
    border-bottom: 1px solid #81BCEB;
    color: white;
    font-size: 1.25em;
    text-transform: uppercase; }

#amenities {
  padding: 0 0 0 30px; }
  #amenities li {
    margin-bottom: .5em; }

/* RESULTS PAGE - INVENTORY */
#inventory {
  width: 760px;
  background-color: transparent;
  padding: 0 0 30px;
  margin: 0 0 0 30px;
  color: #E6E6E6; }

/* RESULTS PAGE - INDIVIDUAL ROOM TYPES */
div.typeContainer {
  padding-top: 30px;
  border-top: 1px solid #867D79; }

div.typeContainer:first-of-type {
  border-top: none; }

/* RESULTS PAGE - INDIVIDUAL ROOM - HEADING / DETAIL LINK  */
a.detailLink h2, #detailRoomTitle {
  color: white;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  letter-spacing: 2px;
  font-size: 3em;
  font-weight: 200;
  letter-spacing: 2px;
  padding: 0 30px; }

#detailRoomTitle {
  font-size: 2em;
  padding: .5em 0 1em;
  color: #E6E6E6; }

a.detailLink + p {
  padding: 0 30px 1em;
  font-size: 1.5em;
  color: #BAADA8; }

/* RESULTS PAGE - INDIVIDUAL ROOM - IMAGE & AMENITIES  */
div.imgAmty {
  padding: 0 30px;
  width: 760px; }

.thumbRoom {
  width: 450px;
  height: 300px;
  float: left; }

.roomAmenities, #detailRoomAmenities {
  width: auto;
  float: left;
  margin: 0;
  font-size: 1.1em;
  padding: 1em 0 0 45px; }

#detailRoomAmenities {
  width: 35%;
  float: right;
  clear: none;
  margin: -340px 0 0; }

/* RESULTS PAGE - INDIVIDUAL ROOM - RATES  */
div.ratesContainer {
  margin: 0 auto;
  clear: both;
  float: none;
  text-align: center;
  padding: 30px 15px 30px;
  width: auto; }

form.roomTypeForm {
  margin: 0; }

div.ratePlan {
  width: 500px;
  border-color: #BAADA8;
  margin: 0 auto;
  float: none; }

div.ratePlan a.detailLink {
  margin: 0;
  vertical-align: middle;
  display: inline; }

a.detailLink span {
  display: inline;
  color: #D4C5BD;
  margin: 0 5px;
  float: none;
  width: auto; }

a.detailLink .rateName {
  font-size: 1.4em;
  line-height: 30px;
  vertical-align: middle; }

a.detailLink span.averageRate {
  font-size: 1.6em;
  line-height: 30px;
  vertical-align: middle; }

span.averageRate::before {
  content: '$ '; }

p.avgRate {
  text-align: center;
  margin: 0;
  font-style: italic;
  color: #BAADA8; }

/* _REVIEW PAGE - GUEST INFORMATION FIELDS */
div.leftGuest,
div.rightGuest {
  margin: 0;
  background-color: #6A5B55;
  padding: 30px 30px;
  color: #BAADA8; }

div.leftGuest {
  width: 340px;
  margin-left: 30px; }

div.rightGuest {
  width: 390px;
  padding-left: 0; }

div.leftGuest h4,
div.rightGuest h4 {
  text-transform: uppercase;
  letter-spacing: 2px; }

div.leftGuest label,
div.rightGuest label,
div.leftGuest span.label,
div.rightGuest span.label {
  color: #BAADA8 !important;
  margin: 0 15px 0 0;
  font-weight: normal !important; }

div.leftGuest label.error,
div.rightGuest label.error {
  color: lightcoral !important; }

div.leftGuest input,
div.leftGuest select,
div.leftGuest textarea,
div.rightGuest input,
div.rightGuest select {
  width: 120px;
  margin: .5em .2em .5em 0;
  display: inline-block;
  background-color: #867D79;
  border: 1px solid #BAADA8;
  color: #E6E6E6;
  padding: .25em .5em;
  font-size: 1em;
  vertical-align: middle; }

#i4Go_CardholderName, #i4Go_CardNumber {
  width: 190px; }

div.rightGuest select#i4Go_ExpirationYear {
  width: 62px; }

div.rightGuest select#i4Go_ExpirationMonth {
  width: 120px; }

div.leftGuest textarea {
  margin: 0; }

#agreeToTerms {
  float: left;
  display: inline;
  width: auto;
  margin: 2.4em 10px 1.2em 30px;
  vertical-align: middle;
  font-size: 2em; }

#agreeToTerms + label.required {
  display: inline-block;
  text-align: left;
  width: auto !important;
  vertical-align: middle;
  margin: 0 0 2em 0; }

/* CONFIRMATION PAGE */
div.leftGuest.confPage {
  margin: 0;
  padding: 0 30px;
  width: 325px; }

div.rightGuest.confPage {
  padding: 0 30px 0 0;
  width: 330px; }

div#reservation-message {
  border: 1px solid #BAADA8;
  padding: 1em 30px;
  margin: 0 0 3em;
  height: 3em; }

form.res-action {
  display: inline-block;
  float: right;
  margin: 0; }

div.status-item {
  font-size: 1.2em;
  line-height: 3em; }

div.confRight {
  width: 750px;
  background-color: #6A5B55;
  margin-left: 30px; }

div.roomDescription {
  color: #BAADA8; }

#roomTitle {
  font-size: 2em; }

#roomDescription {
  font-size: 1.1em; }

#roomThumbnail {
  margin: 1em 0;
  width: 400px;
  height: 300px; }

div.policies {
  color: #BAADA8; }

/* DETAILS POPUP */
.ui-widget-content {
  background: #6A5B55 !important;
  border: 1px solid #D4C5BD !important;
  color: #D4C5BD !important; }

.ui-dialog-content h1 {
  font-size: 16px !important;
  font-weight: normal !important;
  line-height: 1.5;
  padding: 15px; }

.ui-dialog .ui-dialog-title {
  font-size: 8px; }

#ui-id-1 {
  font-size: 1em; }

p#detailRoomDescription {
  clear: left;
  margin: 0;
  padding: 1em 0;
  width: 100%;
  float: left;
  display: inline-block; }

.ui-widget-header {
  border: none !important;
  background: #473C34 !important;
  color: #D4C5BD !important;
  font-weight: normal !important;
  font-size: 1em;
  text-transform: uppercase !important;
  color: #fff !important; }

#detailDialog {
  border: none !important;
  padding: 0; }

#detailMenu {
  background-color: #473C34; }

#detailMenu li {
  background: transparent;
  padding: 1em 2em .5em; }

#detailMenu li.selected {
  background: #6A5B55; }

#roomDetail, #rateDetail, #taxFees {
  padding: 15px 30px; }

#detailImage {
  width: 400px;
  height: 300px;
  margin: 0; }

.roomDetailRight {
  margin: 1em 0;
  width: 100%; }

.roomDetailRight h3 {
  color: #E6E6E6;
  font-weight: normal;
  margin: 0;
  padding: 1em 0 0;
  clear: left;
  width: 100%;
  float: left;
  display: inline-block; }

.roomDetailRight h3:last-of-type {
  float: right;
  width: 35%;
  padding: 0 0 0 30px;
  clear: none;
  margin: -360px 0 0; }

.rateDetailLeft {
  width: 100%;
  float: left; }

.rateDetailLeft h3 {
  font-size: 1.2em;
  font-weight: normal; }

.rateDetailLeft h3:first-of-type {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.6em;
  padding-bottom: .5em;
  border-bottom: 1px solid #867D79; }

.rateDetailLeft p {
  line-height: 1.4; }

#productList {
  display: inline-block;
  top: 6em;
  position: absolute;
  right: 30px; }

.taxFees td,
.taxFees th,
#productList td,
#productList th {
  border-color: #867D79;
  font-weight: normal;
  text-transform: uppercase;
  color: #BAADA8; }

#productBody td {
  color: #fff; }
/*# sourceMappingURL=WineCountryCabins.css.map */